[submodule "Forge/vendor/spdlog"]
	path = Forge/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Forge/vendor/GLFW"]
	path = Forge/vendor/GLFW
	url = https://github.com/TanyaSravan/glfw
[submodule "Forge/vendor/glm"]
	path = Forge/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Forge/vendor/imgui"]
	path = Forge/vendor/imgui
	url = https://github.com/TanyaSravan/imgui.git
